<div class="issue-heading">
  <div class="container">
    <%= @issue.title %>
    <%= link_to 'Destroy', issue_path(@issue), method: :delete, data: { confirm: '确认删除评论?' }, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
        <img src="https://avatars2.githubusercontent.com/u/2650439?v=3&s=460" alt="" class="image-circle">
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><a href="#">linkscue</a></h5>
        </div>
        <%= @issue.content %>
      </div>
    </article>
  </div>
</div>
