
<div class="home-banner" data-stretch="<%= image_url "home-banner-bg.jpg" %>">
  <h1>It's Party Time!</h1>
  <p class="subheading">到时聚聚，聊聊程序</p>
  <div class="home-banner-links">
    <%= link_to "发布新活动", "#", class: "banner-btn btn" %>
  </div>
</div>

<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading">所有活动都在下面了...</h1>
  </div>
</div>

<div class="container clearfix">
  <div class="issue-list">
    <article class="issue clearfix">
      <div class="avatar">
        <a href="/happypeter">
          <img src=http://gravatar.com/avatar/a92785d8d68f1d1d83b008574f8b5dba.png?s=512&amp;d=retro alt="">
</a>      </div>
      <div class="body">
        <h5 class="title">
          <a href="#">Ruby 爱好者</a>
        </h5>
        <a class="read-more" href="#">read</a>
        <span class="meta-data">
          <a href="/happypeter">happypeter</a>
        </span>
      </div>
      <div class="issue-comment-count">
        <a href="/issues/8">
          4
        </a>
      </div>
    </article>
  </div>
</div>

<script>
  $('.home-banner').anystretch();
</script>
